[submodule "libs-src/SimpleContentProvider"]
	path = libs-src/SimpleContentProvider
	url = https://github.com/mitmel/SimpleContentProvider.git
[submodule "libs-src/ActionBarSherlock"]
	path = libs-src/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
